
.apod-container {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  background-color: #121212; 
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(255, 179, 71, 0.3);
}

.apod-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.apod-image {
  width: 100%;
  max-width: 800px;
  border-radius: 12px;
  margin-bottom: 1rem;
  height: auto;
  box-shadow: 0 4px 12px rgba(255, 179, 71, 0.4);
}

.apod-explanation {
  line-height: 1.6;
  font-size: 1.1rem;
  color: #ddd;
  margin-bottom: 1rem;
}

.apod-date {
  font-style: italic;
  margin-top: 1rem;
  color: #aaa;
}


@media (max-width: 768px) {
  .apod-container {
    padding: 1.5rem;
    max-width: 90%;
  }

  .apod-title {
    font-size: 1.6rem;
  }

  .apod-explanation {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .apod-container {
    padding: 1rem;
  }

  .apod-title {
    font-size: 1.3rem;
  }

  .apod-explanation {
    font-size: 0.9rem;
  }
}
